<h1>Locations</h1>
<!-- Show existing locations -->
<ul>
  <li *ngFor="let loc of locations">{{ loc.name }} {{ loc.city ?? "" }}</li>
</ul>
  <div *ngFor="let item of items">
    <div><label>Title: </label><span> {{ item.title }}</span></div>
    
    <div><label>Description: </label> <span> {{ item.description }}</span></div>
    <div><label>Price: </label> <span> $  {{ item.price }}</span></div>
    <app-pictures-container [pictures]="item.pictures"></app-pictures-container>
  </div>


<!-- Form to add a new location -->
<input
  type="text"
  id="locationname"
  name="locationname"
  [(ngModel)]="newLocation"
  placeholder="Add location"
/>
<button (click)="addLocation()">Add</button>
