<div class="modal" *ngIf="authenticationService.showModal()">
    <div class="modal-content">
      <span class="close" (click)="close()">&times;</span>
      <h2>Connexion As Admin</h2>
      <form (ngSubmit)="submit()">
        <label>Username</label>
        <input type="text" [(ngModel)]="username" name="username" required />
  
        <label>Password</label>
        <input type="password" [(ngModel)]="password" name="password" required />
  
        <button type="submit">Se connecter</button>
      </form>
    </div>
  </div>
  